[Desktop Entry]
Categories=GNOME;GTK;System;Garuda-Setup;
Comment=Display welcome message
Comment[ca]=Mostra un missatge de benvinguda
Comment[cs]=Zobrazuje uvítací obrazovku
Comment[de]=Willkommensgruß anzeigen
Comment[el]=Εμφάνιση μήνυμα καλωσορίσματος
Comment[es]=Muestra un mensaje de bienvenida
Comment[fr]=Afficher un message de bienvenue
Comment[it]=Visualizza un messaggio di benvenuto
Comment[ja]=Welcome メッセージの表示
Comment[lt]=Rodyti pasisveikinimo pranešimą
Comment[nl]=Laat welkomstbericht zien
Comment[pt]=Mostra uma messagem de boas-vindas
Comment[ru]=Показ приветственного сообщения
Comment[sv]=Visa välkomstmeddelande
Encoding=UTF-8
Exec=garuda-welcome
Icon=garuda-welcome
Name=Garuda Welcome
Name[ca]=Garuda Welcome
Name[cs]=Garuda Vítejte
Name[de]=Garuda Willkommen
Name[el]=Garuda Welcome
Name[es]=Garuda Bienvenida
Name[fr]=Garuda Bienvenue
Name[it]=Garuda Benvenuto
Name[ja]=Garuda Welcome
Name[lt]=Garuda Pasveikinimas
Name[nl]=Garuda Welkom
Name[pt]=Garuda_Boas-vindas do Garuda
Name[ru]=Garuda Приветствие
Name[sv]=Garuda Välkommen
NoDisplay=false
Terminal=false
TryExec=garuda-welcome
Type=Application
